node_modules/
__pycache__/
*.pyc
.git
frontend/dist/
backend/static/
backend/data/*.db
*.db
.DS_Store
backend/build/
backend/dist/
build-scripts/*/build/
build-scripts/*/dist/
build-scripts/*/project/
build-scripts/windows/*.exe
build-scripts/windows/installer/
*.AppImage
*.deb
*.rpm
